@font-face {
	font-family: OpenSansRegular;
	src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}
@font-face {
	font-family: OpenSansLight;
	src: url('../fonts/OpenSans/OpenSans-Light.ttf');
}
@font-face {
	font-family: OpenSansBold;
	src: url('../fonts/OpenSans/OpenSans-Semibold.ttf');
}
html{
    box-sizing: border-box;
}
*, *:after, *:before{
    box-sizing: inherit;
}
*{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0 30px ;
}
.logo{
    width: 150px;
    height: 64px;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.phone{
    font-size: 30px;
    line-height: 41px;
    color: #161A1E;
    text-decoration: none;
    font-family: OpenSansBold;
}
.sub-phone{
    font-size: 14px;
    line-height: 19px;
    color: #161A1E;
    font-family: OpenSansLight;
}
.phone-btn{
    width: 200px;
    height: 40px;
    border: 1px solid #FDD50B;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    color: #FDD50B;
    margin-top: 20px;
    font-family: OpenSansRegular;
    transition: all 0.5s;
}
.phone-btn:hover{
    background-color: #FDD50B;
    color: #161A1E;
}
.error{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 95px;
}
.title-error{
    font-size: 48px;
    line-height: 65px;
    color: #000000;
    margin: 30px 0 0 0;
    font-family: OpenSansLight;
}
.title-sub{
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    font-family: OpenSansLight;
    margin-bottom: 30px;
}
.error-text{
    width: 290px;
    text-align: center;
    font-size: 14px;
    line-height: 19px;
    color: #161A1E;
    font-family: OpenSansLight;
}
.copyright{
    text-align: center;
    font-family: OpenSansLight;
    margin: 195px 0 30px 0;
}